.content-charts{
    background: #FFFFFF;
}

.title-chart{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #011B33;
}